
header{
  padding: 4px 15px 2px 15px;
  border-bottom: 1px solid #e2e2e2;
  height: 43px;
}
.home{
  display: inline-block;
  margin: 7px auto;
}
.home p {
  display: inline-block;
}

 .logo{
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  left: 42%;
  width: 195px;
  top: -2px;
  margin: 4px auto;
}
.logo img{
  vertical-align: text-top;
 width: 100%;
}
.members{
  display: inline-block;
  float: right;
  margin: 3px auto;
}
.members button{
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  transition: ease 0.6s;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 11px;
  padding: 8px 9px 6px;

}

.clear-float{
  clear: both;
}

header i, header p {
   font-size: 14.25px;
   font-family: nyt-franklin, helvetica, arial, sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.7px;
   line-height: 19px;
   margin-right: 25px;
}

header p a {
  text-decoration: none;
  color: black;
}

.article-title {
  width: 70%;
  margin: 55px auto 10px auto;
  position: relative;
}

img[alt="main-image"] {
  width: 100%;
}

 h1 {
    position: relative;
    left: 160px;
    margin-bottom: 30px;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    color: #121212;
    font-weight: 600;
    font-style: italic;
    font-size: 2rem;
    line-height: 2.25rem;

 }

 .article-title p:nth-child(3){
  font-size: 14px;
  line-height: 1.2rem;
  width: 74%;
  opacity: .9;
 }

 .article-title p:nth-child(4){
  font-size: 12px;
  margin-top: 9px;
  opacity: .5;
 }

 .main-content{
  width: 45%;
  margin: 55px auto 10px auto;
 
  position: relative;
 }


 .i-tags {
   position: absolute;
   right: 0;
   bottom: 0; 
 }

 .i-tags i {
  font-size: 22px;
  margin-left: 20px;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 50%;
  padding: 5px;
  
 }

 .by-line {
  position: relative;
  left: 0;
  

 }

 